@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");

* {
    border: 0.5px solid rgba(255, 0 ,0 ,0.5) !important;
}

.banner {
    width: 100vw;
    height: 100vh;
    background-image: url(images/Cover.png);
    background-size: cover;
    color:wheat;

    ul {
        height: 100px;
        width: 1000px;
        margin: 85px auto 0 auto;
        text-align: center;

        li {
            display: inline-block;
            margin: 20px;

            a {
                color:white;
                text-decoration: none;
            }
        }

        #LOGO {
           font-size: 72px;
           vertical-align: top;
           margin: 0 60px;
        }
    }
}